*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
}
.sizeOfImage{
  width: 100%;
  height: 70%;
  padding: 20px;
}
.sectionOfItems{
  margin-top: 50px;
}
.title{
  text-align: center;
  font-size: 30px;
}
.price{
  
}
.item{
  width: 350px;  
  height: 100%; 
  margin: 20px; 
  border-radius: 20px;
}
.detailsOfProduct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col{
  margin-bottom: 20px;
}